//
//   Container
//
.container
{
    // A general container just adding padding around contents
    //  * If used at root level it's full width like a banner
    //  * If used inside something just adds nice padding 
    //
    //  Example:
    //  <body>
    //    <div class="container">
    //      <div class="wrapper">
    //        <div class="grid"></div>
    //      </div>
    //    </div>
    //  <body> 
    //
    padding: $spacing-larger $spacing-normal;
}

//
//   Align Text Horizontally Center
//
.text-horizontal-center
{
    text-align: center;
    
    // Fix centering for display: table elements
    margin-left: auto;
    margin-right: auto;
}

//
//   Align Text Horizontally Left
//
.text-left { text-align: left; }

//
//   Align Text Horizontally Right
//
.text-right { text-align: right; }

// TODO: Add vertical alignments for specific types
