//
//   Shake animation on hover
//
.shake:hover 
{
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
}

@keyframes shake 
{
  10%, 90%      { transform: translate3d(-1px, 0, 0); }
  20%, 80%      { transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% { transform: translate3d(-4px, 0, 0); }
  40%, 60%      { transform: translate3d(4px, 0, 0); }
}

//
//   Slide in and fade in from above
//
.slide-in-down { animation: slide-in-down 2s; }

@keyframes slide-in-down
{
  0% { transform: translateY(-100%); opacity: 0; }
  100% { transform: translateY(0%); opacity: 1; }
}

//
//   Fade in and slide up from below
//
.slide-in-up-group
{
  opacity: 1;

  > * { @extend .slide-in-up; }

  > *:nth-child(1) { animation-delay: 0.1s; }
  > *:nth-child(2) { animation-delay: 0.2s; }
  > *:nth-child(3) { animation-delay: 0.3s; }
  > *:nth-child(4) { animation-delay: 0.4s; }
  > *:nth-child(5) { animation-delay: 0.5s; }
  > *:nth-child(6) { animation-delay: 0.6s; }
  > *:nth-child(7) { animation-delay: 0.8s; }
}

.slide-in-up
{
    // Position 100px lower
    position: relative;

    opacity: 0;

    // Fade in and slide up
    animation: slide-in-up 1s; 

    // Keep animation properties once done
    animation-fill-mode: forwards;
}

@keyframes slide-in-up
{
  0% { bottom: -100px; opacity: 0; }
  100% { bottom: 0; opacity: 1; }
}

//
//   Slides in from left side and fades in, then shakes at the end
//
.slide-in-left-shake 
{
  animation: slide-in-left-shake $transition-normal;
  transform: translateX(0);
}

@keyframes slide-in-left-shake
{
  0% { transform: translateX(-100%); opacity: 0; }  
  70% { transform: translateX(2%); }  
  75% { transform: translateX(-2%); }  
  80% { transform: translateX(2%); }  
  85% { transform: translateX(-1%); }  
  95% { transform: translateX(1%); }  
  100% { transform: translateX(0%); opacity: 1; }  
}

//
//   Infinite animation simulating a bubble rising and fading out
//
.bubble-up { animation: bubble-up 3s ease-in infinite; }

@keyframes bubble-up
{
  0% { opacity: 0; }    
  20% { opacity: 1; transform: translateY(-20%); }    
  100% { opacity: 0; transform: translateY(-1000%); }
}