
.about
{
    // All sections on page should fill the page at least
    // for a nice spaced out effect
    > section, > header
    {
        // Fill the page at least
        min-height: 100vh;
    }
    
    .about-splash
    {       
        > div
        {
            // Full height
            height: 100vh;

            // Fill
            background-size: cover;

            // Don't repeat image
            background-repeat: no-repeat;

            // Keep image in center
            background-position: center;

            // Image background
            background-image: url('/Assets/Images/rusty.jpg');        
        }
    }

    .growing-up-image img, .the-itch-image img, .camel-image img, .self-employed-image img, .sofa-image img 
    {
        background: white;
        border: 2px solid black;

        // Space away from paragraph above
        margin-top: $spacing-larger;
    }

    .growing-up-image img, .camel-image img, .self-employed-image img , .sofa-image img 
    {
        // Photo print style
        padding: 1.5vw 1.5vw 4vw 1.5vw;

        width: 70vw; 
        height: auto;
    }

    .the-itch-image img
    {
        // Photo print style
        padding: 1vw 1vw 3vw 1vw;

        width: auto; 
        height: 80vh;
    }

    .on-ending
    {
        h1 { @extend h1.alternative; }
    }

    .youtube
    {
        // Make YouTube icon red
        i { color: red; }
    }
    
    .younger-splash
    {       
        > div
        {
            // Full height
            height: 200vh;

            // Fill
            background-size: cover;

            // Don't repeat image
            background-repeat: no-repeat;

            // Keep image in center
            background-position: center;

            // Image background
            background-image: url('/Assets/Images/younger.jpg');        
        }
    }
}